{% extends "_layouts/master.html" %}
{% block page_title  %} Home {% endblock page_title%}
{% block content %}

<div class="jumbotron">
    <h1 class="page-header">Welcome to Quantfi.com</h1>
    <p>Quantfi lets you manage your assets esealy by providing you with reporting tools</p>
    <p>coupled with portfolio optmizer and market simulation</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Quantfi</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-cyan">
                        <div class="icon"><i class="entypo-gauge"></i></div>
                        
                        <div class="title">
                            <h3>Dashboard</h3>
                            <p>See your recent activities</p>
                        </div>
                    </div>
                </a>   
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-blue">
                        <div class="icon"><i class="entypo-chart-line"></i></div>
                        <div class="title">
                            <h3>Assets</h3>
                            <p>Manage your assets</p>
                        </div>
                    </div>
                </a> 
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-aqua">
                        <div class="icon"><i class="entypo-list"></i></div>
                        <div class="title">
                            <h3>Portfolio</h3>
                            <p>Portfolio tools</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-purple">
                        <div class="icon"><i class="entypo-cog"></i></div>
                        <div class="title">
                            <h3>Simulation</h3>
                            <p>See how market works</p>
                        </div>
                    </div>
                </a>  
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-pink">
                        <div class="icon"><i class="entypo-chat"></i></div>
                        
                        <div class="title">
                            <h3>Chat</h3>
                            <p>Discusss with your friends</p>
                        </div>
                    </div>
                </a> 
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-orange">
                        <div class="icon"><i class="entypo-comment"></i></div>
                        <div class="title">
                            <h3>Forum</h3>
                            <p>Financial forum</p>
                        </div>
                    </div>
                </a> 
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-red">
                        <div class="icon"><i class="entypo-map"></i></div>
                        <div class="title">
                            <h3>About</h3>
                            <p>About us</p>
                        </div>
                    </div>
                </a> 
            </div>
            
            <div class="col-sm-3">
                <a href="#">
                    <div class="tile-title tile-primary">
                        <div class="icon"><i class="entypo-vcard"></i></div>
                        <div class="title">
                            <h3>Contact</h3>
                            <p>Contact our team</p>
                        </div>
                    </div>
                </a>  
            </div>
        </div>
    </div>
</div>
{% endblock content %}
